<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8" />
<title>Hello Django</title>
</head>
<body>

<table width="420" height="300" >
<tr>
<td  bgcolor= {{color}} valign="center"><center> <h1>{{ color }}</h1></center>
</td>
</tr>
<tr>
<td  bgcolor= lightgreen valign="center"><center><a href= "/clr/green/"><p>зелёный</p></a></center>
</td>
</tr>
<tr>
<td  bgcolor= yellow valign="center"><center><a href= "/clr/yellow/"> <p>жёлтый</p></a></center>
</td>
</tr>
<tr>
<td  bgcolor= red valign="center"><center><a href= "/clr/red/"> <p>красный</p></a></center>
</td>
</tr>

</body>
</html>
